    <footer class="footer">
      <a
        href="https://kyledinardi.github.io/homepage/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>© 2024 Kyle Dinardi</span>
      </a>
      <a
        href="https://github.com/kyledinardi/file-uploader"
        target="_blank"
        rel="noopener noreferrer"
        class="logoLink"
      >
        <img class="logo" src="/github-mark.svg" alt="GitHub logo" />
      </a>
    </footer>
  </body>
</html>