<%- include('header', {title}); %>
<main>
  <form method="post">
    <div class="fields">
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        required
        value="<%= locals.username %>"
      />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        required
      />
    </div>
    <button>Sign Up</button>
  </form>
</main>
<%- include('footer'); %>
